body{
  display: grid;
  grid-template-columns: 15% 85% ;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}
.side-manue{
  font-family: "Open Sans", sans-serif;
  height: 100%;
  position: fixed;
  float: left;
  padding-left: 30px;
}

.heading-area img{
  width: 20%;
  height: auto;
  border: 3px solid #755ff0;
  border-radius: 50%;
  border: auto;
} 

.menue-area{
  list-style: none;
  padding-left: 0px;

}

.menu-item{

  padding-top: 30px;
}
.menu-item a{
  text-decoration: none;
}
.menue-area .fa{
  color: #020202
}
.content-area{

  overflow: hidden;
  height: auto;
  position: relative;
  left: 100%;
}

#home{
  background-image: url(home-bg.jpg);
  background-color: rgba(#000000, #000000, #000000, alpha);
  width: 100%;
  height: 100vh;
  
}

#about{
  display: grid;
  grid-template-rows: 100px 65% 20%;
  width: 100%;
}
.about-content{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;

}
.about-image img{
  width: 80%;
}
